html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: Sans-Serif;
    background: lightgrey;
    margin: 5px;
    background: black;
}

/* ==== Grid ==== */

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    background: black;
}

tr.header {
    height: 50px;
    margin: 10px;
}

td {
    text-align: center;
    padding: 0;
}

th {
    white-space: nowrap;
    font-weight: bold;
    color: white;
}

thead th {
    height: 5%;
    overflow: hidden;
}

tr.separator {
    height: 5px;
}

/* hack to set the row headers width */
th.col0 {
    width: 50px;
}

th.blue {
    background: lightblue;
}

th.separator {
    width: 5px;
}

/* ====Cell==== */

.cell {
    border: 2px solid transparent;
    position: relative;
    background-clip: padding-box;  /* firefox workaround */
    cursor: pointer;
    overflow: hidden;
}

.cell.empty {
    background: #555;
    cursor: default;
}

.header .cell {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.header .divider {
    float: left;
    color: white;
    font-size: 30px;
}

/* tr.even td.cell.empty { */
/*     background: #666; */
/* } */


.header table {

}

/* the headers are just cells too, but should be borderless */
.header .cell {
    /* border: none; */
    /* border: 2px solid transparent; *\/ */
}

.header .cell {
    font-size: 20pt;
}

.cell .state  {
    font-size: larger;
    font-weight: bold;
    /* pointer-events: none; */
}

@-webkit-keyframes color_change {
    from { background-color: black; }
    to { background-color: null; }
    /* from {border-color: red; outline-color: red;} */
    /* to {border-color: null; outline-color: null;} */
}

.cell.alarm, .cell.alarm .state {
    
    transform: translateZ(0);  /* supposed optimization */
    -webkit-animation: color_change 1s infinite normal;
    -moz-animation: color_change 1s infinite normal;
    -ms-animation: color_change 1s infinite normal;
    -o-animation: color_change 1s infinite normal;
    animation: color_change 1s infinite normal;    
}

.cell.children .state {
    text-decoration: underline;
}

.cell.children .border {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-width: 2px;
    border-style: outset;
    opacity: 0.6;
    pointer-events: none;
}

.cell .info {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 2px;
    font-size: smaller;
}

table.child-states {
    background: lightgrey;
    /* border-collapse: collapse; */
    border-style: hidden;
}

table.child-states td {
    /* border: 1px solid grey; */
}

div.child-info {
    /* border-left: 1px solid rgba(0,0,0,0.5); */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10%;
}

.cell .errors {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 5px;
    height: 5px;
    background: red;
    border: 1px solid white;
}


/* tooltip */

.mytip {
    pointer-events: none;
    font-size: 16px;    
}    

/* filter */

/* div.filter { */
/*     position: absolute; */
/*     top: 20px; */
/* } */

/* div.filter input { */
/*     background: transparent; */
/*     color: grey; */
/*     border: none; */
/*     outline: none; */
/*     font-size: 20pt; */
/*     z-index: 100; */
/* } */


/* .row.even th { */
/*     background-color: #222; */
/* } */


/* th[class*='COAY'], th[class*='COAX'], th[class*='CODX'], th[class*='CODY'], th[class*='COGX'], th[class*='COGY'] {  */
/*     color: yellow; */
/*     /\* border-bottom: 2px solid yellow; *\/ */
/* } */

/* th[class*='DIP'], th[class*='DIPM'] {  */
/*     color: red; */
/*     /\* border-bottom: 2px solid red; *\/ */
/* } */


.help {
    cursor: pointer;    
    color: yellow;
    position: absolute;
    top: 0;
    right: 0;
}

#legend {
    width: 50%;
    position: absolute;
    top: 20px;
    right: 0;

    background: #222;
    color: white;
    display: none;
    z-index: 100;

    text-align: left;
    padding: 10px;

    max-height: 90%;
    overflow-y: auto;
}