<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/libs/tooltip.css" />
  <link rel="stylesheet" href="css/tango.css" />
  <link rel="stylesheet" href="css/grid.css" />
  <link rel="stylesheet" href="css/jquery.qtip.min.css" />  
</head>

<body>

  <!-- This displays a state grid, built dynamically from the config
       using "knockout.js". -->
  
  <table class="container">
    <thead>
      <tr class="header">
        <td>
          <div class="cell" data-bind="css: ('state-'+ $root.cells['']().state),
                                       click: function () {$root.exitCell()}">
            <div class="state" data-bind="text: $root.config.title"></div>
          </div>
          <!-- ko foreach: path -->
          <div class="divider">></div>
          <div class="cell" data-bind="css: 'state-'+ $root.getCellForPathStep($index()).state,
                                       click: function () {$root.exitCell($data)}">
            <div class="state" data-bind="text: $root.getConfigForPathStep($index()).title || $data"></div>
          </div>
          <!-- /ko -->
          
          <!-- <div class="help" data-bind="click: function () {$('#legend').toggle()}"> -->
          <!--   Help -->
          <!-- </div> -->
          
          <div id="legend">
            This grid shows the Tango <b>states</b> for a set of
            devices. The state is a general representation of the
            condition of the underlying equipment and, depending on
            the device, can be one of the following:
            
            <dl>
              
              <dt>
                <span class="state-ON"> &nbsp;ON&nbsp; </span> or
                <span class="state-RUNNING"> &nbsp;RUNNING&nbsp; </span>                
              </dt>
              <dd>
                The equipment is turned on and working normally.
              </dd>

              <dt><span class="state-OFF"> &nbsp;OFF&nbsp; </span></dt>
              <dd>
                The equipment is turned off.
              </dd>

              <dt>
                <span class="state-OPEN"> &nbsp;OPEN&nbsp; </span> or
                <span class="state-EXTRACT"> &nbsp;EXTRACT&nbsp; </span></dt> 
              <dd>
                The equipment is open/extracted.  Applied to valves,
                screens, etc this means that the device
                does <i>not</i> block the beam.
              </dd>

              <dt>
                <span class="state-CLOSE"> &nbsp;CLOSE&nbsp; </span> or
                <span class="state-INSERT"> &nbsp;INSERT&nbsp; </span></dt>
              <dd>
                The equipment is closed/inserted.  Applied to
                valves, screens, etc this means that the
                device <i>blocks</i> the beam.
              </dd>

              <dt><span class="state-MOVING"> &nbsp;MOVING&nbsp; </span></dt>
              <dd>
                The equipment is in a transitional state, e.g. a valve
                being opened or closed or a power supply's output
                trying to reach its set value.
              </dd>

              <dt><span class="state-STANDBY"> &nbsp;STANDBY&nbsp; </span></dt>
              <dd>
                The equipment is ready for operation.
              </dd>
              
              <dt><span class="state-FAULT"> &nbsp;FAULT&nbsp; </span></dt>
              <dd>
                The equipment is in a broken state, or cannot be
                communicated with. Some action is likely required to
                get it working; check the Status message.
              </dd>
              
              <dt><span class="state-ALARM"> &nbsp;ALARM&nbsp; </span></dt>
              <dd>
                The equipment is in some undesired state, e.g. some
                attribute is outside of the normal range or an
                interlock has tripped.
              </dd>

              <dt><span class="state-DISABLE"> &nbsp;DISABLE&nbsp; </span></dt>
              <dd>
                The equipment is currently not allowed to operate,
                e.g. by an interlock or a PSS condition.
              </dd>
              
              <dt><span class="state-UNKNOWN"> &nbsp;UNKNOWN&nbsp; </span></dt>
              <dd>
                The Tango device is not running (or there is an issue with the
                event system).
              </dd>
              
            </dl>

            <p>Each cell either represents a single <b>device</b>, or a set of
              devices.</p>

            <p>In the former case clicking it should bring up an
              appropriate panel for the device. In the latter case
              clicking the cell will replace the grid with another
              showing all the child devices.</p>
            
            <p>If a cell contains more than one device, a pair of
              numbers in the top left corner ("X/Y") reveal the number
              of underlying devices X that are in the state shown by
              the cell, and the total number Y of "child" devices.
              The state shown by the cell is the "most important"
              state of all the underlying devices.
            </p>
              
            <p>To get back to a higher point in the grid hierarchy,
              click the corresponding position in the header at the
              top of the window.
            </p>
            
          </div>
               
        </td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="content">
          <table class="states">
            <thead>
              <tr>
                <th class="col0"></th>
                <!-- ko foreach: getGridColumns() -->
                <th data-bind="css: $data? 'col-'+$data : 'separator'">
                  <span data-bind="html: $data"></span>
                </th>
                <!-- /ko -->
                <th class="col0"></th>                
              </tr>
            </thead>
            <tbody data-bind="foreach: {data: getGridRows(), as: 'row'}">
              <!-- ko if: row != null -->
              <tr class="row" data-bind="css: 'row-'+row+($index()%2?' odd':' even')">

                <th>
                  <div data-bind="text: row"></div>
                </th>

                <!-- ko foreach: {data: $root.getGridColumns(), as: 'column'} -->
                <!-- ko with: $root.getCell(column, row) -->

                <!-- ko if: $data.state -->
                <td class="cell"
                    data-bind="css: ('state-'+ $data.state + 
                                    ($data.children? ' children' : '')),
                               tooltip: {
                                   title: $root.getConfig(column, row).device || 
                                          $root.getConfig(column, row).title,
                                   content: new Date($data.last_update * 1000)
                                              .toLocaleString()},
                               click: function () {$root.clickCell(column, row)},
                               event: {contextmenu: function () {$root.cellMenu(column, row);}}">

                  <!-- ko if: $data.children -->
                  <div class="border"></div>
                    
                  <div class="info"
                       data-bind="text: $data.responsible + '/' + $data.children">
                  </div>
                  <!-- /ko -->

                  <!-- ko if: $data.errors > 0 -->
                  <div class="errors"></div>
                  <!-- /ko -->
                  
                  <div class="state"
                       data-bind="css: 'state-' + $data.state, text: $data.state">
                  </div>
                </td>
                <!-- /ko -->
                
                <!-- ko if: column && !$data.state -->
                <td class="cell empty">
                  <!-- Note: filler to make cell heights consisent -->
                  <div class="state">&nbsp;</div>
                </td>
                <!-- /ko -->

                <!-- ko if: column == null -->
                <td class="cell separator">
                </td>
                <!-- /ko -->
                
                <!-- /ko -->                                                
                <!-- /ko -->

                <th>
                  <div data-bind="text: row"></div>
                </th>                
                
              </tr>
              <!-- /ko -->
              <!-- ko if: row == null -->
              <tr class="separator"></tr>
              <!-- /ko -->
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- scripts -->
  <script type="text/javascript" src="js/libs/qwebchannel.js"></script>
  <script type="text/javascript" src="js/libs/ramda.js"></script>
  <script type="text/javascript" src="js/libs/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="js/libs/knockout.js"></script>
  <script type="text/javascript" src="js/libs/jquery.qtip.min.js"></script>
  <script type="text/javascript" src="js/libs/knockout.tooltip.js"></script>

  <script type="text/javascript" src="js/grid.js"></script>

  <script type="text/javascript">

    function start(jsonconfig, jsondata) {
        var config = JSON.parse(jsonconfig),
            data = JSON.parse(jsondata);
        grid = new GridViewModel(config, data.devices);
        ko.applyBindings(grid);
    }

    function update(jsondata) {
        var data = JSON.parse(jsondata);
        //console.log("update keys " + Object.keys(data.devices));
        grid.update(data.devices);
    }

    function patch(jsondata) {
        var patch = JSON.parse(jsondata);
        //console.log("patch keys " + Object.keys(patch));
        grid.update(patch);
    }

    function broken() {
        grid.forget();
    }

  </script>
</body>
